{{define "title"}}Page 3{{end}}
{{define "body"}}

<svg class="pass-template" xmlns="http://www.w3.org/2000/svg" xmlns:xl="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" version="1.1" viewBox="23.000031 -9 343.00006 474.0001" width="343.00006pt" height="474.0001pt">
<metadata> Produced by Pass Ninja <dc:date>2014-06-20 11:54Z</dc:date>
</metadata>
<defs>
    <filter filterUnits="userSpaceOnUse">
        <feGaussianBlur in="SourceAlpha" result="blur" stdDeviation="1.308"/>
        <feOffset in="blur" result="offset" dx="0" dy="2"/>
        <feFlood flood-color="black" flood-opacity=".5" result="flood"/>
        <feComposite in="flood" in2="offset" operator="in"/>
    </filter>
    <font-face panose-1="2 0 5 3 0 0 0 2 0 4" units-per-em="1000" underline-position="-100" underline-thickness="50" slope="0" x-height="517" cap-height="714" ascent="951.99585" descent="-212.99744" class="style0">
        <font-face-src>
            <font-face-name name="HelveticaNeue"/>
        </font-face-src>
    </font-face>
    <font-face panose-1="2 0 5 3 0 0 0 2 0 4" units-per-em="1000" underline-position="-100" underline-thickness="50" slope="0" x-height="517" cap-height="714" ascent="951.99585" descent="-212.99744" class="style1">
        <font-face-src>
            <font-face-name name="HelveticaNeue"/>
        </font-face-src>
    </font-face>
    <font-face panose-1="2 0 5 3 0 0 0 2 0 4" units-per-em="1000" underline-position="-100" underline-thickness="50" slope="0" x-height="517" cap-height="714" ascent="951.99585" descent="-212.99744" class="style2">
        <font-face-src>
            <font-face-name name="HelveticaNeue"/>
        </font-face-src>
    </font-face>
    <font-face panose-1="2 0 8 3 0 0 0 9 0 4" units-per-em="1000" underline-position="-100" underline-thickness="50" slope="0" x-height="517" cap-height="714" ascent="975.0061" descent="-216.99524" class="style3">
        <font-face-src>
            <font-face-name name="HelveticaNeue-Bold"/>
        </font-face-src>
    </font-face>
    <font-face panose-1="2 0 2 6 0 0 0 2 0 4" units-per-em="1000" underline-position="-100" underline-thickness="50" slope="0" x-height="525" cap-height="730" ascent="930.99976" descent="-212.99744" class="style4">
        <font-face-src>
            <font-face-name name="HelveticaNeue-UltraLight"/>
        </font-face-src>
    </font-face>
</defs>
<g class="pass-group">
        <title>Genric Pass</title>
        <g>
            <xl:use xl:href="#id102512_Graphic" filter="url(#Shadow)"/>
        </g>
        <path d="M 42.3 50.5 L 346.3 50.5 C 350.7 50.5 354.3 54.1 354.3 58.5 L 354.3 445.5 C 354.3 450 350.7 453.5 346.3 453.5 L 42.3 453.5 C 37.9 453.5 34.3 450 34.3 445.5 L 34.3 58.5 C 34.3 54.1 37.9 50.5 42.3 50.5 Z" class="style6"/>
        <path d="M 42.3 50.5 L 346.3 50.5 C 350.7 50.5 354.3 54.1 354.3 58.5 L 354.3 445.5 C 354.3 450 350.7 453.5 346.3 453.5 L 42.3 453.5 C 37.9 453.5 34.3 450 34.3 445.5 L 34.3 58.5 C 34.3 54.1 37.9 50.5 42.3 50.5 Z" class="style7"/>
       
        <text transform="translate(44.68504 308.06299)" class="text-container">
            <tspan id="auxValue1" x="14.9" y="11" class="value-text">aux value</tspan>
        </text>
        <rect data-target="auxValue1" x="39.7" y="305.1" width="90.7" height="19.8" class="text-btn-rect"/>
        
        <text transform="translate(141.06299 286.38583)" class="text-container">
            <tspan id="auxLabel2" x="22.7" y="11" class="label-text">aux 2 label</tspan>
        </text>
        <rect data-target="auxLabel2" x="136.1" y="283.5" width="113.4" height="19.8" class="text-btn-rect"/>
        
        <text transform="translate(141.06299 308.06299)" class="text-container">
            <tspan id="auxValue2" x="21.2" y="11" class="value-text">aux 2 value</tspan>
        </text>
        <rect data-target="auxValue2" x="136.1" y="305.1" width="113.4" height="19.8" class="text-btn-rect"/>
        
        <text transform="translate(260.11811 308.06299)" class="text-container">
            <tspan id="auxValue3" x="9.9" y="11" class="value-text">aux 3 value</tspan>
        </text>
        <rect data-target="auxValue3" x="255.1" y="305.1" width="90.7" height="19.8" class="text-btn-rect"/>
        
        <text transform="translate(260.11811 286.38583)" class="text-container">
            <tspan id="auxLabel3" x="11.4" y="11" class="label-text">aux 3 label</tspan>
        </text>
        <rect data-target="auxLabel3" x="255.1" y="283.5" width="90.7" height="19.8" class="text-btn-rect"/>
       
        <text transform="translate(197.7559 259.45669)" class="text-container">
            <tspan id="secondaryValue2" x="22.7" y="11" class="value-text">secondary 2 value</tspan>
        </text>
        <rect data-target="secondaryValue2" x="192.8" y="258" width="153.1" height="17" class="text-btn-rect"/>
        
        <text transform="translate(197.7559 238.19685)" class="text-container">
            <tspan id="secondaryLabel2" x="24.2" y="11" class="label-text">secondary 2 label</tspan>
        </text>
        <rect data-target="secondaryLabel2" x="192.8" y="238.1" width="153.1" height="14.2" class="text-btn-rect"/>
        
        <text transform="translate(44.68504 286.38583)" class="text-container">
            <tspan id="auxLabel1" x="16.4" y="11" class="label-text">aux label</tspan>
        </text>
        <rect data-target="auxLabel1" x="39.7" y="283.5" width="90.7" height="19.8" class="text-btn-rect"/>
        
        <text transform="translate(44.68504 259.45669)" class="text-container">
            <tspan id="secondaryValue1" x="24.9" y="11" class="value-text">secondary value</tspan>
        </text>
        <rect data-target="secondaryValue1" x="39.7" y="258" width="147.4" height="17" class="text-btn-rect"/>
       
        <text transform="translate(44.68504 238.19685)" class="text-container">
            <tspan id="secondaryLabel1" x="26.4" y="11" class="label-text">secondary label</tspan>
        </text>
        <rect data-target="secondaryLabel1" x="39.7" y="238.1" width="147.4" height="14.2" class="text-btn-rect"/>

        <text transform="translate(291.29921 85.125984)" class="text-container">
            <tspan id="value1" x="10.7" y="11" class="value-text">value</tspan>
        </text>
        <rect data-target="value1" x="286.3" y="82.2" width="59.5" height="19.8" class="text-btn-rect"/>
        
        <text transform="translate(291.29921 62.44882)" class="text-container">
            <tspan id="label1" x="12.1" y="11" class="label-text">label</tspan>
        </text>
        <rect data-target="label1" x="286.3" y="59.5" width="59.5" height="19.8" class="text-btn-rect"/>
       
        <text transform="translate(109.88189 70.204724)" class="text-container">
            <tspan id="logoText" x="0" y="19" class="logo-text">Logo Text</tspan>
        </text>
         <rect data-target="logoText" x="104.9" y="59.5" width="175.7" height="45.4" class="text-btn-rect"/>
        <line x1="45.4" y1="113.4" x2="345.4" y2="113.4" class="style12"/>
        <path d="M 45.4 232.4 L 195.5 232.5 L 345.4 232.4" class="style12"/>
        <rect x="51" y="62.4" width="39.7" height="39.7" class="style14"/>
        <path d="M 60.2 73.9 C 60.2 72.6 61.3 71.6 62.6 71.6 C 63.9 71.6 65 72.6 65 73.9 C 65 75.2 63.9 76.3 62.6 76.3 C 61.3 76.3 60.2 75.2 60.2 73.9 M 68.5 68 L 56.7 68 L 56.7 79.8 L 73.2 96.4 L 85 84.6 Z" class="style13"/>
        <clipPath>
            <use xl:href="#path"/>
        </clipPath>
        <rect x="51" y="62.4" width="39.7" height="39.7" class="style15 img-btn-rect"/>
        <g class="style16">
            <image  id="thumbnail" width="388" height="435" transform="translate(249.44882 119.05512) scale(.24762422)"/>
        </g>
        <rect data-target="thumbnail" x="249.4" y="119.1" width="96.1" height="107.7" class="img-btn-rect"/>
        <g>
            <circle cx="331.7" cy="433.7" r="8.5" class="style17"/>
            <circle cx="331.7" cy="433.7" r="8.5" class="style18"/>
            <text transform="translate(329.8504 426.20078)" class="text-container">
                <tspan x="0.3" y="12" class="style19">i</tspan>
            </text>
        </g>
        <path d="M 45.4 279.6 L 195.5 279.7 L 345.4 279.6" class="style12"/>
        
        <text transform="translate(44.68504 125.913385)" class="text-container">
            <tspan x="38.9" y="37"  class="style20">Primary</tspan>
            <tspan x="61.5" y="84"  class="style20">Field</tspan>
        </text>
        <rect x="39.7" y="119.1" width="204.1" height="107.7" class="text-btn-rect"/>
    </g>
</svg>

	
	{{end}}