/* ATTN: This is mobile first CSS - to update 786px and up screen width use the media query near the bottom of the document! */

/* Global Styles */

.main {
  padding-top : 80px;
  padding-left: 40px;


}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.btn {
  border-radius: 3px;
}


/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  .navbar {
  	font-size: 18px;
  	background-color: #34495E;

  }

 /* Side Nav */
  .side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 45px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #34495E;
	overflow-y: auto;
  }


   /* Bootstrap Default Overrides - Customized Side Nav   */
  .side-nav>li>a {
	width: 225px;
  height: 100px;
  font-size: 18px;
  padding-left: 35px;
  padding-top: 40px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #2C3E50;
  }

   .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }


    /* Nav Dropdown

  .dropdown-menu {
	min-width: 160px;

  }

  .dropdown-menu li a {
	white-space: normal;
  }

  */

  /************************* pass chooser **********************************/
    div.clear
  {
      clear: both;
  }

  div.product-chooser{

  }

    div.product-chooser.disabled div.product-chooser-item
  {
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
    cursor: default;
  }

  div.product-chooser div.product-chooser-item{
    padding: 11px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    border: 1px solid #efefef;
    margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10x;
  }

  div.product-chooser div.product-chooser-item.selected{
    border: 4px solid #428bca;
    background: #efefef;
    padding: 8px;
    filter: alpha(opacity=100);
    opacity: 1;
  }

    div.product-chooser div.product-chooser-item img{
      padding: 0;
    }

    div.product-chooser div.product-chooser-item span.title{
      display: block;
      margin: 10px 0 5px 0;
      font-weight: bold;
      font-size: 12px;
    }

    div.product-chooser div.product-chooser-item span.description{
      font-size: 12px;
    }

    div.product-chooser div.product-chooser-item input{
      position: absolute;
      left: 0;
      top: 0;
      visibility:hidden;
    }

  /************************* process progress bar **************************/

 .form-horizontal{
    margin-bottom:50px;
}

 .progress-process{
    margin-top:150px;
    position:relative;
    margin-bottom:150px;
}

 .progress-timeline{
    height:12px;
    border:1px solid #aaa;
    border-radius:7px;
    background:#eee;
  }

  .progress-timeline .progress-timeline-completion{
    height:8px;
    margin:1px;
    border-radius:7px;
    background:#108CBC;
    width:0px;
  }

 .progress-timeline .progress-timeline-completion.c1{
    width:0%;
  }
 .progress-timeline .progress-timeline-completion.c2{
    width:20%;
  }
 .progress-timeline .progress-timeline-completion.c3{
    width:40%;
  }
 .progress-timeline .progress-timeline-completion.c4{
    width:60%;
  }
  .progress-timeline .progress-timeline-completion.c5{
    width:80%;
  }
   .progress-timeline .progress-timeline-completion.c6{
    width:100%;
  }

 .progress-status{
    top: 16px;
    position:absolute;
    margin-top:-35px;
  }

  .progress-status button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

 .progress-status .step{
    position:absolute;
    width:180px;
    top:60px;
    left:-15px;
  }

 .progress-step1{
    left:-1;
  }

 .progress-step2{
    left:17%;
  }

 .progress-step3{
    left:37%;
  }

 .progress-step4{
    left:57%;
  }

 .progress-step5{
    left:77%;
  }

  .progress-step6{
    right:-1px
  }

  .btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 25px;
}

/*************************** *************************/

/* Message Alert Box */
.alert {
  position: fixed;
  bottom: 0;
  z-index: 101;
}
