
/********************************************
  One page scroll wrapper div styles

*********************************************/

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.wrapper h1, .wrapper h2 {
  width: 100%;
  float: left;
  text-align: center;
}

.wrapper h1 {
  font-family: 'Helvetica Neue', sans-serif;
  margin-top: 50px;
  color: #000;
  margin-bottom: 5px;
  font-size: 70px;
  /*letter-spacing: -4px;*/
  font-weight: 100;
}
.wrapper h1 span {
  font-size: 26px;
  margin: 0 5px;
  text-transform: capitalize;
  background: rgba(0,0,0,0.85);
  display: inline-block;
  color: #6D461D;
  border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  padding: 3px 10px;
}

.wrapper h2 {
  color: #6D461D;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 40px;
}

/********************************************/
/* Main Div Styles
*********************************************/
.main {
  margin: 0;
}
.page1 {
  background: #7F8C8D;
}

.page2 {
  background: #E2E4E7;
}

.page3 {
  background: #95A5A6;
}
.page4 {
  background: #7F8C8D;
}


/********************************************
 Page 1 Pass Type Selection Grid Styles

*********************************************/

/* Passtype Selection Grid */
.Passtype_grid {
  margin: 0px;
  padding: 10px;
  background: #7F8C8D;
  border: 1px solid #000;
  text-align: center;
}

/* Responsive Image Control in Passtype_grid */
.pure-img-responsive {
  max-width: 70%;
  height: auto;
}

.passtype_lable {
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #6D461D;
}

/********************************************
  SVG Pass template default styles

*********************************************/

.logo-text {
  fill:   white;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.pass-bg {
 fill:  #224774; 
}

.pass-group { 
  fill: none; 
}

/********************************************
  SVG Pass Rectangle selectors

*********************************************/

/* rectangle opacity 0 on other pages */
.img-btn-group rect {
  fill: #a1fcff; 
  fill-opacity: 0.0; 
  
} 

/* only select these btn if on img input page */
.viewing-page-6 .img-btn-group rect {
  fill: #a1fcff; 
  fill-opacity: 0.0; 
  stroke-width: 1; 
  stroke: #fff; 
}

/* hover style */ 
.viewing-page-6 .img-btn-group:hover rect {
  fill: #a1fcff; 
  fill-opacity: 0.5;
  cursor: pointer;
}

/* select style */ 
.viewing-page-6 .img-btn-group rect.select {
  fill: #a1fcff; 
  fill-opacity: 0.5;
  cursor: pointer;
}

/* only select these btn if on barcode input page */
/*
.viewing-page-7 .barcode-btn-group rect {
  fill: #a1fcff; 
  fill-opacity: 0.0; 
  stroke-width: 1; 
  stroke: #fff; 
}*/

/*opacity 0 on other pages */
.barcode-btn-group rect {
  fill: #ffffff; 
} 

/*
.viewing-page-7 .barcode-btn-group:hover rect {
  fill: #a1fcff; 
  fill-opacity: 0.5;
  cursor: pointer;
}*/
.text-btn-group rect {
  fill: #a1fcff; 
  fill-opacity: 0.0;
  stroke: none; 
}

/* only select these btn if on text input page */
.viewing-page-8 .text-btn-group rect {
  fill: #a1fcff; 
  fill-opacity: 0.0;
  stroke-width: 1.0; 
  stroke: #fff; 
}

/* hover style */ 
.viewing-page-8 .text-btn-group:hover rect {
  fill: #a1fcff; 
  fill-opacity: 0.5;
  cursor: pointer;
}

/* select style */ 
.viewing-page-8 .text-btn-group rect.select {
  fill: #a1fcff; 
  fill-opacity: 0.5;
  cursor: pointer;
}

/* Don't change cursor for the text on the svg */
.text-btn-group text
{
    pointer-events: none;
}

/********************************************
  Transistion the color sliders for each page 

*********************************************/

#color-select {
  position:relative;
  z-index: 2;
}

/* initial settings, off screen */
.rgb-background,
.rgb-value,
.rgb-label {
  transition:all 1s ease; 
  -webkit-transform: translate3d(200%, 300px, 0) !important; 
    -moz-transform: translate3d(200%, 300px, 0) !important;
    transform: translate3d(200%, 300px, 0) !important; 
} 

/* move the slider into screen */ 
.viewing-page-3 .rgb-background,
.viewing-page-4 .rgb-label,
.viewing-page-5 .rgb-value{

  transition:all 1s ease; 
    -webkit-transform: translate3d(0px, 400px, 0) !important; 
    -moz-transform: translate3d(0px, 400px, 0) !important;
    transform: translate3d(0px, 400px, 0) !important; 
  
}

/********************************************
 Message Alert Box 

*********************************************/

.alert {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 101;
  width: 300px;
  margin-bottom: 0px;
  padding: 8px 35px 8px 14px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-heading {
  color: inherit;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
  background-color: inherit;
  float: right;
  border: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}

.alert .close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}


/********************************************
  Pass settings control UI

*********************************************/

/* Set the standard pass setting UI styles */
div.control
{
  line-height: 1;
  font-family: inherit;
  padding: 12px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
  transition:all 1s ease; 
    -webkit-transform: translate3d(0px, 530px, 0) !important; 
    -moz-transform: translate3d(0px, 530px, 0) !important;
    transform: translate3d(0px, 530px, 0) !important; 
}

div#legend-add
{
  float: right;
  width: 30px;
  top: -27px;
  right: 63px;
  position: relative;
}

div#legend-add button 
{
  padding: 3px 6px;
}


/* Limit the width of the currency select menu bar */
select#currency {
  max-width:26%;
}

/********************************************
 Pass transition between scroll pages

*********************************************/

.section-content,
.fake-content {
  display: block;
  position: absolute;
  top: 0;
  left: 10%;     /* left margin for small screens */
  width: 100%;
  height: 100%;
  border-bottom: 1px #707070 solid;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;

}
/* Applied to both front and back */ 
.pass-template.front, .pass-template.back {
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility: hidden;
  
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  transform-origin: center center;

  position: absolute;  
}

/* front pane, placed above back */
.pass-template.front {
  z-index: 2;
}

/* back, initially hidden pane */
.fake-content .pass-template.back {
  transition:all 1s ease;
  -webkit-transform: translate3d(0, 50%, 0) rotateY(180deg) !important;
  -moz-transform: translate3d(0, 50%, 0) rotateY(180deg) !important;
  transform: translate3d(0, 50%, 0) rotateY(180deg) !important;
}

/* front of pass, standard sizing and positioning */
.fake-content .pass-template.front {
  transition:all 1s ease;
  -webkit-transform: translate3d(0, 50%, 0) rotateY(0deg) !important; 
  -moz-transform: translate3d(0, 50%, 0) rotateY(0deg) !important;
  transform: translate3d(0, 50%, 0) rotateY(0deg) !important; 
  
}

/* front of pass, scale to 50% */
.viewing-page-2 .fake-content .pass-template.front {
  transition:all 1s ease;
  -webkit-transform: translate3d(0, 50%, 0) scale(0.5) rotateY(0deg) !important; 
  -moz-transform: translate3d(0, 50%, 0) scale(0.5) rotateY(0deg) !important;
  transform: translate3d(0, 50%, 0) scale(0.5) rotateY(0deg) !important; 
  
}

/* page transitions */
.viewing-page-2 .fake-content {
  transition:all 1s ease; 
  -webkit-transform: translate3d(0, -680%, 0) !important;
  -moz-transform: translate3d(0, -680%, 0) !important;
  transform: translate3d(0, -680%, 0) !important;
}

.viewing-page-3 .fake-content {
  transition:all 1s ease; 
  -webkit-transform: translate3d(0, -600%, 0) !important;
  -moz-transform: translate3d(0, -600%, 0) !important;
  transform: translate3d(0, -600%, 0) !important;
}

.viewing-page-4 .fake-content {
  transition:all 1s ease; 
  -webkit-transform: translate3d(0, -500%, 0) !important;
  -moz-transform: translate3d(0, -500%, 0) !important;
  transform: translate3d(0, -500%, 0) !important;
}

.viewing-page-5 .fake-content {
    transition:all 1s ease; 
    -webkit-transform: translate3d(0, -400%, 0) !important;
    -moz-transform: translate3d(0, -400%, 0) !important;
    transform: translate3d(0, -400%, 0) !important;
}

/* front of pass, reduce scale to 80% */
.viewing-page-6 .fake-content .pass-template.front,
.viewing-page-7 .fake-content .pass-template.front,
.viewing-page-8 .fake-content .pass-template.front
 {
  transition:all 1s ease;
  -webkit-transform: translate3d(0, 35%, 0) scale(0.8) rotateY(0deg) !important; 
  -moz-transform: translate3d(0, 35%, 0) scale(0.8) rotateY(0deg) !important;
  transform: translate3d(0, 35%, 0) scale(0.8) rotateY(0deg) !important;  
}

.viewing-page-6 .fake-content {
    transition:all 1s ease; 
    -webkit-transform: translate3d(0, -300%, 0) !important;
    -moz-transform: translate3d(0, -300%, 0) !important;
    transform: translate3d(0, -300%, 0) !important;
}

.viewing-page-7 .fake-content {
    transition:all 1s ease;
    -webkit-transform: translate3d(0, -200%, 0) !important;
    -moz-transform: translate3d(0, -200%, 0) !important;
    transform: translate3d(0, -200%, 0) !important; 
}

.viewing-page-8 .fake-content {
    transition:all 1s ease;
    -webkit-transform: translate3d(0, -100%, 0) !important;
    -moz-transform: translate3d(0, -100%, 0) !important;
    transform: translate3d(0, -100%, 0) !important; 
}

/* Page 9 shows the back of the pass */
.viewing-page-9 .fake-content{ 
  transition:all 1s ease;
}

/* Special page 9 front */
.viewing-page-9 .fake-content .pass-template.front {
   transition:all 1s ease;
    -webkit-transform: translate3d(0, 50%, 0) rotateY(-180deg) !important;
    -moz-transform: translate3d(0, 50%, 0) rotateY(-180deg) !important;
    transform: translate3d(0, 50%, 0) rotateY(-180deg) !important;
}

/* Special page 9 back */
.viewing-page-9 .fake-content .pass-template.back {
   transition:all 1s ease;
    -webkit-transform: translate3d(0, 50%, 0) rotateY(0deg) !important;
    -moz-transform: translate3d(0, 50%, 0) rotateY(0deg) !important;
    transform: translate3d(0, 50%, 0) rotateY(0deg) !important;
  }


/********************************************
 Pass Type Select Page 1 thumbnail hover

********************************************/

  .pass-thumb-select {
    transition:all 0.15s ease;
  }

  /* Enlarge the pass image when you hover */
  .pass-thumb-select:hover {
    transition:all 0.15s ease;
    -webkit-transform: translate3d(0, 0, 0) scale(1.05) !important;
    -moz-transform: translate3d(0, 0, 0) scale(1.05) !important;
    transform: translate3d(0, 0, 0) scale(1.05) !important;
    cursor: pointer;
  }

/********************************************
 loading spinner 
 -appears when you select & load an svg template
********************************************/

.spinner {
      position: fixed;
      margin: 60px;
      z-index: 102;
      left: 42.5%;
      width: 50px;
      height: 30px;
      text-align: center;
      font-size: 10px;
      display: none;
    }

    .spinner > div {
      background-color: #fff;
      height: 100%;
      width: 6px;
      display: inline-block;
      
      -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
      animation: stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }

    @-webkit-keyframes stretchdelay {
      0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
      20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes stretchdelay {
      0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
      } 20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }

/********************************************
    Next Page Arrow Button

********************************************/

.next {
  position: fixed;
  margin: 20px;
  right: 0;
  bottom: 0;
  z-index: 102;
}

/* style the button */
.next .btn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-color: #fff;
  border-width: 3px;
  color: #fff;
  font-size: 25px;
  padding: 8px 5px 6px 3px;
  background-color: transparent;
}

/* set color to black during hover */ 
.next .btn:hover {
  color: #000;
  border-color: #000;
}

/* page 1 set the arrow in the center */
.viewing-page-1 .next {
  left: 42%; 
}

/* make the arrow bigger for page 1 */
.viewing-page-1 .next .btn {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  font-size: 70px;
  display: none;
}


/***********************************************************
   medium & larger screens 
 
***********************************************************/
@media (min-width: 48em) { 

  /* div style for svg pass */ 
  .section-content,
  .fake-content {
    display: block;
    position: absolute;
    top: 0;
    left: 38%;  /* left margin for medium screens */
    width: 100%;
    height: 100%;
    border-bottom: 1px #707070 solid;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
  }



}
