textarea#terms {
    width: 18em;
    height: 20em;
}

/* SVG Pass styles **/
svg#coupon .value-text {
  fill:   white;
	-webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

svg#coupon .label-text {
  fill:   white;
	-webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; 
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.logo-text {
	fill: 	white;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.pass-bg {
 fill: 	#224774; 
}

.pass-group { 
	fill: none; 
}

svg .font-bold{font-family:'Helvetica-Bold'; pointer-events: none;}
svg#coupon .bg-grad{fill:url(#SVGID_1_);}
svg .font-lite{font-family:'Helvetica-Light'; pointer-events: none;}
svg .font-norm{font-family:'Helvetica'; pointer-events: none;-webkit-font-smoothing: antialiased;text-shadow: 1px 1px 1px rgba(0,0,0,0.004);}
svg#coupon .auxiliaryFields.value-text{font-size:14px;}
svg#coupon .auxiliaryFields.label-text{font-size:12px;}
svg#coupon .headerFields.value-text{font-size:14px;}
svg#coupon .headerFields.label-text{font-size:12px;}
svg#coupon .logo-text{font-size:18px;}
svg#coupon .barcode{font-size:36px;}
svg#coupon .primaryFields.label-text{font-size:16px;}
svg#coupon .primaryFields.value-text{font-size:52px;}


/* only select these btn if on color input page 
.viewing-page-2 .color-btn-rect {
	fill: #a1fcff; 
	fill-opacity: 0.0;
	stroke-width: 1; 
	stroke: #fff; 
}

.viewing-page-2 .color-btn-rect:hover {
	fill: #a1fcff; 
	fill-opacity: 0.5;
	cursor: pointer;
	
}*/

/*opacity 0 on other pages */
.img-btn-group rect {
  fill: #a1fcff; 
  fill-opacity: 0.0; 
  
} 

/* only select these btn if on img input page */
.viewing-page-6 .img-btn-group rect {
  fill: #a1fcff; 
  fill-opacity: 0.0; 
  stroke-width: 1; 
  stroke: #fff; 
}

.viewing-page-6 .img-btn-group:hover rect {
  fill: #a1fcff; 
  fill-opacity: 0.5;
  cursor: pointer;
}

/* only select these btn if on barcode input page */
.viewing-page-7 .barcode-btn-group rect {
  fill: #a1fcff; 
  fill-opacity: 0.0; 
  stroke-width: 1; 
  stroke: #fff; 
}

/*opacity 0 on other pages */
.barcode-btn-group rect {
  fill: #a1fcff; 
  fill-opacity: 0.0; 
  
} 

.viewing-page-7 .barcode-btn-group:hover rect {
  fill: #a1fcff; 
  fill-opacity: 0.5;
  cursor: pointer;
}

/* only select these btn if on text input page */
.viewing-page-8 .text-btn-group rect {
  fill: #a1fcff; 
  fill-opacity: 0.0;
  stroke-width: 1; 
  stroke: #fff; 
}


.viewing-page-8 .text-btn-group:hover rect {
  fill: #a1fcff; 
  fill-opacity: 0.5;
  cursor: pointer;
}

.text-btn-group text
{
    pointer-events: none;
}




/* Transistion the color selectors 
*********************************************/

#color-select {
  position:relative;
  z-index: 2;
}


.rgb-background,
.rgb-value,
.rgb-label {
	transition:all 1s ease; 
	-webkit-transform: translate3d(200%, 300px, 0) !important; 
    -moz-transform: translate3d(200%, 300px, 0) !important;
    transform: translate3d(200%, 300px, 0) !important; 
}	

.viewing-page-3 .rgb-background,
.viewing-page-4 .rgb-label,
.viewing-page-5 .rgb-value{

	transition:all 1s ease; 
    -webkit-transform: translate3d(0px, 400px, 0) !important; 
    -moz-transform: translate3d(0px, 400px, 0) !important;
    transform: translate3d(0px, 400px, 0) !important; 
  
}


/* Message Alert Box 
*********************************************/

.alert {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 101;
  width: 300px;
  margin-bottom: 0px;
  padding: 8px 35px 8px 14px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}

.alert-heading {
  color: inherit;
}

.alert-success {
color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}

.alert-info {
color: #3a87ad;
background-color: #d9edf7;
border-color: #bce8f1;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
  background-color: inherit;
  float: right;
  border: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.alert .close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

div#barcode-setting
{
  line-height: 1;
  font-family: inherit;
  padding: 12px;
  border-radius: 2px;
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  
  transform: translate3d(0, 600px, 0) !important; 
}

/* Popover tooltip 
*********************************************/

.d3-tip {
  line-height: 1;
  font-family: inherit;
  padding: 12px;
  background: rgba(255, 255, 255, 0.9);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* tool tip button groups */
.button-group,
.button-group li{
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.button-group{
  font-size: 0; /* Inline block elements gap - fix */
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, .04);
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  /*padding: 7px;
  border-radius: 7px; */
}

.button-group li{
  margin-right: -1px; /* Overlap each right button border */
}

.button-group .select-button{
  font-size: 13px; /* Set the font size, different from inherited 0 */
  border-radius: 0; 
}

.button-group .select-button:active{
  box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
              5px 0 5px -3px rgba(0, 0, 0, .2) inset,
              -5px 0 5px -3px rgba(0, 0, 0, .2) inset;   
}

.button-group li:first-child .select-button{
  border-radius: 3px 0 0 3px;
}

.button-group li:first-child .select-button:active{
  box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
              -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:last-child .select-button{
  border-radius: 0 3px 3px 0;
}

.button-group li:last-child .select-button:active{
  box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
              5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

/********************************************/
/* Pass transition between scroll pages
*********************************************/

.section-content,
.fake-content {
  display: block;
  position: absolute;
  top: 0;
  left: 10%;     /* left margin for small screens */
  width: 100%;
  height: 100%;
  border-bottom: 1px #707070 solid;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;

}
/* Applied to both front and back */ 
.pass-template.front, .pass-template.back {
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility: hidden;
  
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  transform-origin: center center;

  position: absolute;  
}

/* front pane, placed above back */
.pass-template.front {
  z-index: 2;
}

/* back, initially hidden pane */
.fake-content .pass-template.back {
  transition:all 1s ease;
  -webkit-transform: translate3d(0, 50%, 0) rotateY(180deg) !important;
  -moz-transform: translate3d(0, 50%, 0) rotateY(180deg) !important;
  transform: translate3d(0, 50%, 0) rotateY(180deg) !important;
}

/* front of pass */
.fake-content .pass-template.front {
  transition:all 1s ease;
  -webkit-transform: translate3d(0, 50%, 0) rotateY(0deg) !important; 
  -moz-transform: translate3d(0, 50%, 0) rotateY(0deg) !important;
  transform: translate3d(0, 50%, 0) rotateY(0deg) !important; 
  
}

/* front of pass */
.viewing-page-2 .fake-content .pass-template.front {
  transition:all 1s ease;
  -webkit-transform: translate3d(0, 60%, 0) scale(0.5) rotateY(0deg) !important; 
  -moz-transform: translate3d(0, 50%, 0) scale(0.5) rotateY(0deg) !important;
  transform: translate3d(0, 50%, 0) scale(0.5) rotateY(0deg) !important; 
  
}

/* page transitions */
.viewing-page-2 .fake-content {
  transition:all 1s ease; 
  -webkit-transform: translate3d(0, -680%, 0) !important;
  -moz-transform: translate3d(0, -680%, 0) !important;
  transform: translate3d(0, -680%, 0) !important;
}

.viewing-page-3 .fake-content {
  transition:all 1s ease; 
  -webkit-transform: translate3d(0, -600%, 0) !important;
  -moz-transform: translate3d(0, -600%, 0) !important;
  transform: translate3d(0, -600%, 0) !important;
}

.viewing-page-4 .fake-content {
  transition:all 1s ease; 
  -webkit-transform: translate3d(0, -500%, 0) !important;
  -moz-transform: translate3d(0, -500%, 0) !important;
  transform: translate3d(0, -500%, 0) !important;
}

.viewing-page-5 .fake-content {
    transition:all 1s ease; 
    -webkit-transform: translate3d(0, -400%, 0) !important;
    -moz-transform: translate3d(0, -400%, 0) !important;
    transform: translate3d(0, -400%, 0) !important;
}

.viewing-page-6 .fake-content {
	  transition:all 1s ease; 
    -webkit-transform: translate3d(0, -300%, 0) !important;
    -moz-transform: translate3d(0, -300%, 0) !important;
    transform: translate3d(0, -300%, 0) !important;
}

.viewing-page-7 .fake-content {
	  transition:all 1s ease;
    -webkit-transform: translate3d(0, -200%, 0) !important;
    -moz-transform: translate3d(0, -200%, 0) !important;
    transform: translate3d(0, -200%, 0) !important; 
}

.viewing-page-8 .fake-content {
    transition:all 1s ease;
    -webkit-transform: translate3d(0, -100%, 0) !important;
    -moz-transform: translate3d(0, -100%, 0) !important;
    transform: translate3d(0, -100%, 0) !important; 
}

.viewing-page-9 .fake-content{ 
	transition:all 1s ease;
}

/* Special page 9 front */
.viewing-page-9 .fake-content .pass-template.front {
   transition:all 1s ease;
    -webkit-transform: translate3d(0, 50%, 0) rotateY(-180deg) !important;
    -moz-transform: translate3d(0, 50%, 0) rotateY(-180deg) !important;
    transform: translate3d(0, 50%, 0) rotateY(-180deg) !important;
}

/* Special page 9 back */
.viewing-page-9 .fake-content .pass-template.back {
   transition:all 1s ease;
    -webkit-transform: translate3d(0, 50%, 0) rotateY(0deg) !important;
    -moz-transform: translate3d(0, 50%, 0) rotateY(0deg) !important;
    transform: translate3d(0, 50%, 0) rotateY(0deg) !important;
  }

/* Pass Type Page 1 thumbnail hover */
  .pass-thumb-select {
    transition:all 0.15s ease;
  }
  .pass-thumb-select:hover {
    transition:all 0.15s ease;
    -webkit-transform: translate3d(0, 0, 0) scale(1.05) !important;
    -moz-transform: translate3d(0, 0, 0) scale(1.05) !important;
    transform: translate3d(0, 0, 0) scale(1.05) !important;
    cursor: pointer;
  }

/********************************************/
/* Next Page Button
********************************************/

.next {
  position: fixed;
  margin: 20px;
  right: 0;
  bottom: 0;
  z-index: 102;
}

.viewing-page-1 .next {
  left: 42%;
  display: none;
}

.next .btn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-color: #fff;
  border-width: 3px;
  color: #fff;
  font-size: 25px;
  padding: 8px 5px 6px 3px;
  background-color: transparent;
}

.viewing-page-1 .next .btn {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  font-size: 70px;
}

.next .btn:hover {
  color: #000;
  border-color: #000;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: url('/assets/img/bgmain.svg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background: transparent url('/assets/img/bgmain.svg') 0 0 no-repeat fixed; */ 
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 40%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: rgba(0,0,0,0.25);
    /*border: 3px solid white;*/
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}




/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

@media (min-width: 48em) { /* medium & larger screens */

textarea#terms {
    width: 33em;
    height: 20em;
}

.section-content,
.fake-content {
  display: block;
  position: absolute;
  top: 0;
  left: 38%;  /* left margin for medium screens */
  width: 100%;
  height: 100%;
  border-bottom: 1px #707070 solid;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;

}



}


