textarea#terms {
    width: 18em;
    height: 20em;
}

/* SVG Pass styles **/
.style0 {
	font-family: 	"Helvetica Neue";
	font-size: 	12pt;
	font-weight: 	200;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.style1 {
	font-family: 	"Helvetica Neue";
	font-size: 	20pt;
	font-weight: 	200;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.value-text {
	fill: 	white;
	font-family: 	"Helvetica Neue";
	font-size: 	12px;
	font-weight: 	200;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

}

.label-text {
	fill: 	white;
	font-family: 	"Helvetica Neue";
	font-size: 	12px;
	font-weight: 	200;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

}
.logo-text {
	fill: 	white;
	font-family: 	"Helvetica Neue";
	font-size: 	20pt;
	font-weight: 	200;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.style12 { stroke: 	#b0b6bb; stroke-linecap: 	round; stroke-linejoin: 	round; }
.style13 { fill: 	black; }
.style14 { fill: 	red; }
.style15 { stroke: 	red; stroke-linecap: 	round; stroke-linejoin: 	round; }
.style16 { clip-path: 	url(#clip_path); }
.style17 { fill: 	#bdbdbd; }
.style18 {
	stroke: 	black;
	stroke-linecap: 	round;
	stroke-linejoin: 	round;
	stroke-width: 	0;
}
.style19 {
	fill: 	white;
	font-family: 	"Helvetica Neue";
	font-size: 	12pt;
	font-weight: 	bold;
	pointer-events: none;
}
.style2 {
	font-family: 	"Helvetica Neue";
	font-size: 	16pt;
	font-weight: 	200;
	pointer-events: none;
}
.style20 {
	fill: 	white;
	font-family: 	"Helvetica Neue";
	font-size: 	40pt;
	font-weight: 	100;
	pointer-events: none;
}
.style3 {
	font-family: 	"Helvetica Neue";
	font-size: 	12pt;
	font-weight: 	bold;
	pointer-events: none;
}
.style4 {
	font-family: 	"Helvetica Neue";
	font-size: 	40pt;
	font-weight: 	100;
	pointer-events: none;

}

.pass-bg {
 fill: 	#224774; 
}
.style7 {
	stroke: #b0b6bb;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 	2;
}

.pass-group { 
	fill: none; 
}

svg#coupon .st0{display:inline;fill:none;stroke:#000000;stroke-miterlimit:10;}
svg#coupon .st1{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
svg .st2{fill:#F1F2F2;}
svg .st3{font-family:'Helvetica-Bold'; pointer-events: none;}
svg#coupon .st4{fill:url(#SVGID_1_);}
svg .st5{fill:#603913;}
svg .st6{fill:#FFFFFF;}
svg .st7{font-family:'Helvetica-Light'; pointer-events: none;}
svg .st8{font-family:'TimesNewRomanPS-BoldMT'; pointer-events: none;}
svg .st9{font-family:'Helvetica'; pointer-events: none;}
svg#coupon .st10{font-size:11px;}
svg#coupon #primaryValue1{font-size:16px;}
svg#coupon .st12{font-size:18px;}
svg#coupon .st13{font-size:36px;}
svg#coupon #primaryLabel1{font-size:48px;}


/* only select these btn if on color input page 
.viewing-page-2 .color-btn-rect {
	fill: #a1fcff; 
	fill-opacity: 0.0;
	stroke-width: 1; 
	stroke: #fff; 
}

.viewing-page-2 .color-btn-rect:hover {
	fill: #a1fcff; 
	fill-opacity: 0.5;
	cursor: pointer;
	
}*/

/* only select these btn if on img input page */
.viewing-page-3 .img-btn-group rect {
  fill: none; 
  stroke-width: 1; 
  stroke: #fff; 
}

.viewing-page-3 .img-btn-group:hover rect {
  fill: #a1fcff; 
  fill-opacity: 0.5;
  cursor: pointer;
}

/* only select these btn if on text input page */
.viewing-page-4 .text-btn-group rect {
  fill: #a1fcff; 
  fill-opacity: 0.0;
  stroke-width: 1; 
  stroke: #fff; 
}


.viewing-page-4 .text-btn-group:hover rect {
  fill: #a1fcff; 
  fill-opacity: 0.5;
  cursor: pointer;
}

.text-btn-group text
{
    pointer-events: none;
}




/* Transistion the color selectors 
*********************************************/

#color-select {
  position:relative;
  z-index: 2;
}


.rgb-background,
.rgb-value,
.rgb-label {
	transition:all 1s ease; 
	-webkit-transform: translate3d(200%, 0px, 0) !important; 
    -moz-transform: translate3d(200%, 0px, 0) !important;
    transform: translate3d(200%, 0px, 0) !important; 
}	

.viewing-page-2 .rgb-background,
.viewing-page-2 .rgb-value,
.viewing-page-2 .rgb-label {

	transition:all 1s ease; 
    -webkit-transform: translate3d(0px, 0px, 0) !important; 
    -moz-transform: translate3d(0px, 0px, 0) !important;
    transform: translate3d(0px, 0px, 0) !important; 
  
}


/* Message Alert Box 
*********************************************/

.alert {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 101;
  width: 300px;
  margin-bottom: 0px;
  padding: 8px 35px 8px 14px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}

.alert-heading {
  color: inherit;
}

.alert-success {
color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}

.alert-info {
color: #3a87ad;
background-color: #d9edf7;
border-color: #bce8f1;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
  background-color: inherit;
  float: right;
  border: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.alert .close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

/* Popover tooltip 
*********************************************/

.d3-tip {
  line-height: 1;
  font-family: inherit;
  padding: 12px;
  background: rgba(255, 255, 255, 0.9);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* Pass transition between scroll pages
*********************************************/

.section-content,
.fake-content {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 1%;     /* left margin for small screens */
  width: 100%;
  height: 100%;
  border-bottom: 1px #707070 solid;
}


.viewing-page-2 .fake-content {
	transition:all 1s ease; 
    -webkit-transform: translate3d(0, -200%, 0) !important;
    -moz-transform: translate3d(0, -200%, 0) !important;
    transform: translate3d(0, -200%, 0) !important;
}
.viewing-page-2 .fake-content .pass-template {
  transition:all 1s ease;
    -webkit-transform: translate3d(0, 50%, 0) !important; 
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important; 
  
}

.viewing-page-3 .fake-content {
	  transition:all 1s ease;
    -webkit-transform: translate3d(0, -100%, 0) !important;
    -moz-transform: translate3d(0, -100%, 0) !important;
    transform: translate3d(0, -100%, 0) !important; 
}
.viewing-page-3 .fake-content .pass-template {
    transition:all 1s ease;
    -webkit-transform: translate3d(0, 50%, 0) !important; 
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 50%, 0) !important;
    
}

.viewing-page-4 .fake-content{ 
	transition:all 1s ease;
}
.viewing-page-4 .fake-content .pass-template {
    transition:all 1s ease;
    -webkit-transform: translate3d(0, 50%, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: transparent url('/assets/img/BA1yLjNnQCI1yisIZGEi_2013-07-16_1922_IMG_9873.jpg') 0 0 no-repeat fixed;   
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

@media (min-width: 48em) {

textarea#terms {
    width: 33em;
    height: 20em;
}

.section-content,
.fake-content {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 38%;  /* left margin for medium screens */
  width: 100%;
  height: 100%;
  border-bottom: 1px #707070 solid;
}


}


