{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pass Ninja</title>
    <meta name="description" content="Passbook Builder">
    <meta name="keywords" content="passbook, pass, pass ninja, wallet, ibeacon, mobile pass, coupon">
    <meta name="author" content="Pass Ninja">
    <link rel="shortcut icon" href="/assets/img/favicon_ticket.ico">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/assets/css/plugin/modal.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/plugin/jquery.datetimepicker.css"/ >
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='/assets/css/plugin/onepage-scroll.css' rel='stylesheet' type='text/css'>
    <link href="/assets/css/global.css" rel="stylesheet">
    <link href="/assets/css/builder.css" rel="stylesheet">
    <link href="/assets/css/plugin/jquery.colorpickersliders.css" rel="stylesheet">
  </head>

  <body>
        <!-- ============================================================ -->
        <!-- Nav bar
        ================================================================= -->
        <nav class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
          <a href="#" class="pure-menu-heading" id="header">
            <img src="/assets/img/logo.svg" alt="Pass Ninja"></img>
          </a>
          <ul>
            <li><button>Support</button></li>
            <li><form method="post" action="/logout"><button type="submit">Logout</button></form></li>
          </ul>
        </nav>
       <!-- ============================================================ -->
        <!-- Contents (below Nav bar)
        ================================================================= -->
        <div class="wrapper">
          <div class="main">
            <!-- Page 1 ================== -->
            <section class="page1">
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <h1>Pass Type</h1>
                  <h2>Select the type of pass you want to create! </h2>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3 "></div>
              </div>
              <!-- Thumbnail Grid of Pass Type Selection -->
              <div class="Passtype_grid pure-g">
                <div class="pure-u-1 pure-u-md-1-5">
                  <img id="boardingPass" class="pure-img-responsive pass-thumb-select" src="/assets/img/boarding_01_thumb.png" alt="Boarding Pass" width="226" height="290"></img>
                  <ul class="passtype_lable">
                    <li><h4>Boarding Pass</h4></li>
                  </ul>
                </div>
                <div class="pure-u-1 pure-u-md-1-5">
                  <img id="coupon" class="pure-img-responsive pass-thumb-select" src="/assets/img/coupon_03_thumb.png" alt="Coupon" width="226" height="290"></img>
                  <ul class="passtype_lable">
                    <li><h4>Coupon</h4></li>
                  </ul>
                </div>
                <div class="pure-u-1 pure-u-md-1-5">
                  <img id="eventTicket" class="pure-img-responsive pass-thumb-select" src="/assets/img/event_01_strip_thumb.png" alt="Event Ticket" width="226" height="290"></img>
                  <ul class="passtype_lable">
                    <li><h4>Event Ticket</h4></li>
                  </ul>
                </div>
                <div class="pure-u-1 pure-u-md-1-5">
                  <img id="storeCard" class="pure-img-responsive pass-thumb-select" src="/assets/img/store_01_thumb.png" alt="Store Card" width="226" height="290"></img>
                  <ul class="passtype_lable">
                    <li><h4>Store Card</h4></li>
                  </ul>
                </div>
                <div class="pure-u-1 pure-u-md-1-5">
                  <img id="generic" class="pure-img-responsive pass-thumb-select" src="/assets/img/event_01_fullbg_thumb.png" alt="Generic" width="226" height="290"></img>
                  <ul class="passtype_lable">
                    <li><h4>Generic</h4></li>
                  </ul>
                </div>
              </div>
            </section>
            <!-- Page 2 ================== -->
            <section class="page2">
              <!-- Fields -->
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <h1>Get Started!</h1>
                  <h2>Fill out the name of the pass template and organization!</h2>
                  <form class="pure-form">
                    <fieldset class="pure-group">
                      <input type="text" class="pure-input-1" id="pass-name" placeholder="Pass Name">
                      <input type="text" class="pure-input-1" id="pass-desc" placeholder="Pass Description">
                    </fieldset>
                    <fieldset class="pure-group">
                      <input type="text" class="pure-input-1" id="org-name" placeholder="Organization Name">
                      <input type="text" class="pure-input-1" id="org-desc" placeholder="Organization Description">
                    </fieldset>
                  </form>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
              </div>
            </section>
              <!-- Page 3 ================== -->
            <section class="page3">
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <h1>Pass Color</h1>
                  <h2>Change background colors.</h2>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3 "></div>
              </div>
              <!-- Pass Preview -->
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <div id="color-select">
                      <div class="rgb-background"></div>
                  </div>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3 "></div>
              </div>
            </section>
             <!-- Page 4 ================== -->
            <section class="page4">
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <h1>Label Color</h1>
                  <h2>Change label text colors.</h2>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3 "></div>
              </div>
              <!-- Pass Preview -->
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <div id="color-select">
                      <div class="rgb-label"></div>
                  </div>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3 "></div>
              </div>
            </section>
             <!-- Page 5 ================== -->
            <section class="page5">
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <h1>Value Color</h1>
                  <h2>Change value text colors.</h2>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3 "></div>
              </div>
              <!-- Pass Preview -->
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <div id="color-select">
                      <div class="rgb-value"></div>
                  </div>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3 "></div>
              </div>
            </section>
            <!-- Page 6 ================== -->
            <section class="page6">
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <h1>Images</h1>
                  <h2>Select an image to change it.</h2>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
              </div>
              <!-- Pass Preview -->
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                   <!-- Image Popover -->
                  <div class='control'>
                    <form id='pop-image' class='pure-form'>
                      <legend>No image selected</legend>
                      <fieldset>
                        <input id='pop-image-input' type='file' accept='image/png' disabled></input>
                        <button class='pure-button' id='image-pop-btn' disabled>Upload</button>
                      </fieldset>
                    </form>
                  </div>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
              </div>
            </section>
            <!-- Page 7 ================== -->
            <section class="page7">
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <h1>Barcode</h1>
                  <h2>Choose the barcode type.</h2>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
              </div>
              <!-- Pass Preview -->
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <!-- Barcode Popover -->
                  <div class='control'>
                    <form id='pop-bar' class='pure-form pure-form-aligned'>
                        <fieldset class="pure-group">
                          <input id='popData' type='text' class="pure-input-1" placeholder="Barcode Message"></input>
                          <input id='popAlt' type='text' class="pure-input-1"  placeholder="Alternative Text"></input>
                        </fieldset>
                        <fieldset>
                        <div class="pure-control-group">
                          <label for='popEncode'>Message Encoding</label>
                          <input id='popEncode' type='text' value='iso-8859-1'></input>
                        </div>
                        <div class="pure-control-group">
                          <label for='bar-format-qr-btn'>Barcode Format</label>
                           <select id='barcode-format'>
                            <option>PDF417</option>
                            <option>Aztec</option>
                            <option>QR</option>
                            <option>No Barcode</option>
                          </select>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
              </div>
            </section>
             <!-- Page 8 ================== -->
            <section class="page8">
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <h1>Info Fields</h1>
                  <h2>Select a field to change it.</h2>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
              </div>
              <!-- Pass Preview -->
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                   <!-- Text Popover -->
                  <div class='control'>
                    <form id='pop-text' class='pure-form pure-form-aligned'>
                      <legend>No field selected</legend>
                      <fieldset>
                        <div class="pure-control-group">
                          <label for='popLabel'>Field Label</label>
                          <input id='popLabel' type='text' disabled></input>
                        </div>
                        <div class="pure-control-group">
                          <label for='popValue'>Field Value</label>
                          <select id='value-format' disabled>
                            <option>Text</option>
                            <option>Number</option>
                            <option>Time</option>
                            <option>Date</option>
                            <option>Currency</option>
                          </select>
                        </div>
                        <div class="pure-control-group" id='format-control'>
                          <input id='popValue' type='text' disabled></input>
                           <select id='timeDate-format' style="display: none">
                            <option>None</option>
                            <option>Short</option>
                            <option>Medium</option>
                            <option>Long</option>
                            <option>Full</option>
                          </select>
                           <select id='number-format' style="display: none">
                            <option>None</option>
                            <option>Decimal</option>
                            <option>Percent</option>
                            <option>Scientific</option>
                            <option>Spell Out</option>
                          </select>

                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
              </div>
            </section>
             <!-- Page 9 ================== -->
            <section class="page9">
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <h1>Back Side</h1>
                  <h2>Enter your data for the back of the pass.</h2>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
              </div>
              <!-- Pass Preview -->
              <div class="pure-g">
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3"></div>
                <div class="pure-u-11-12 pure-u-md-3-5 pure-u-lg-1-3">
                  <div class="fake-content">
                    
                  
                  </div>
                </div>
                <div class="pure-u-1-24 pure-u-md-1-5 pure-u-lg-1-3">
                  
                </div>
              </div>
            </section>

          </div> <!-- / "main" div -->
        </div> <!-- / "wrapper" div -->

              <!-- Message alert -->
                  <div class="alert alert-dismissable" style="display: none">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    
                  </div>

               <!-- Next Page Button -->
                      <a class="next" href="#">
                        <div class="spinner">
                          <div class="rect1"></div>
                          <div class="rect2"></div>
                          <div class="rect3"></div>
                          <div class="rect4"></div>
                          <div class="rect5"></div>
                        </div>
                        <button type="button" class="pure-button btn" id="next-button">
                          <i class="fa fa-angle-down"></i> 
                        </button>
                      </a>    

            </div>

           
        
              <!-- JavaScript
              ================================================== -->
              <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
              <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
              <script type="text/javascript" src="/assets/js/plugin/jquery.onepage-scroll.js"></script>
              <script type="text/javascript" src="/assets/js/plugin/tinycolor.js"></script>
              <script type="text/javascript" src="/assets/js/plugin/jquery.colorpickersliders.js"></script>
              <script type="text/javascript" src="/assets/js/plugin/jquery.datetimepicker.js"></script>
              <script type="text/javascript" src="/assets/js/app/images.js"></script>
              <script type="text/javascript" src="/assets/js/app/fields.js"></script>
              <script type="text/javascript" src="/assets/js/app/colors.js"></script>
              <script type="text/javascript" src="/assets/js/app/barcode.js"></script>
              <script type="text/javascript" src="/assets/js/passbuilder.js"></script>
              
              
            </body>
          </html>
          {{end}}