{{define "title"}}Register{{end}}
{{define "body"}}
<div class="splash-container">
	<div class="splash">
		<h1 class="splash-head">Join Pass Ninja</h1>
		<p class="splash-subhead">
		Create, modity and distribute your pass with Pass Ninja!
		</p>
		<p>
		<a href="#apply-form" class="pure-button pure-button-primary">Sign Up</a>
		</p>
		
	</div>
</div>
<div class="content-wrapper">
	<div class="content">
		<h2 class="content-head is-center">We provide the fastest and easiest way to create a pass. Sign up today!</h2>
		<div class="pure-g">
			<div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-4">
				<h3 class="content-subhead">
				<i class="fa fa-rocket"></i>
				Get Started Quickly
				</h3>
				<p>
				We provide the fastest and easiest way to create your pass. Sign up and try our Pass builder. 
				</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-4">
				<h3 class="content-subhead">
				<i class="fa fa-mobile"></i>
				 
				</h3>
				<p>
				Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
				</p>
			</div>
			
			<div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-4">
				<h3 class="content-subhead">
				<i class="fa fa-check-square-o"></i>
				Plays Nice
				</h3>
				<p>
				Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
				</p>
			</div>
		</div>
	</div>
	<div class="ribbon l-box-lrg pure-g">
		<div class="pricing-tables">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="pricing-table pricing-table-free">
					<div class="pricing-table-header">
						<h2>Personal</h2>
						<span class="pricing-table-price">
						$5 <span>per month</span>
						</span>
					</div>
					<ul class="pricing-table-list">
						<li>Free setup</li>
						<li>Custom sub-domain</li>
						<li>Standard customer support</li>
						<li>1GB file storage</li>
						<li>1 database</li>
						<li>Unlimited bandwidth</li>
					</ul>
					<button class="button-choose pure-button">Choose</button>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="pricing-table pricing-table-biz pricing-table-selected">
					<div class="pricing-table-header">
						<h2>Small Business</h2>
						<span class="pricing-table-price">
						$25 <span>per month</span>
						</span>
					</div>
					<ul class="pricing-table-list">
						<li>Free setup</li>
						<li>Use your own domain</li>
						<li>Standard customer support</li>
						<li>10GB file storage</li>
						<li>5 databases</li>
						<li>Unlimited bandwidth</li>
					</ul>
					<button class="button-choose pure-button">Choose</button>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="pricing-table pricing-table-enterprise">
					<div class="pricing-table-header">
						<h2>Enterprise</h2>
						<span class="pricing-table-price">
						$45 <span>per month</span>
						</span>
					</div>
					<ul class="pricing-table-list">
						<li>Free setup</li>
						<li>Use your own domain</li>
						<li>Premium customer support</li>
						<li>Unlimited file storage</li>
						<li>25 databases</li>
						<li>Unlimited bandwidth</li>
					</ul>
					<button class="button-choose pure-button">Choose</button>
				</div>
			</div>
			</div> <!-- end pricing-tables -->
		</div>
		<div class="signup-form" id="apply-form">
			<h2 class="content-head is-center">Get Started!</h2>
			<div class="pure-g">
				<div class="l-box-lrg pure-u-1 pure-u-md-3-5 pure-u-lg-1-3 ">
					<form class="pure-form" action="/signup" method="POST" id="signup-form">
						<legend>Sign Up</legend>
						<fieldset>
							<div class="input-group">
								<input class="input-group-field" id="email" name="email" type="email" placeholder="Email" required>
								<span id="email-mark" class="input-group-addon">...</span>
							</div>
							<div class="emailBlock">
								
								<span class="help-block " id="email-check">&nbsp;</span>
							</div>
						</fieldset>
						<fieldset>
							<div class="input-group">
								<input class="input-group-field" name="password" id="password" type="password" placeholder="Password" required>
								<span id="password-mark" class="input-group-addon">...</span>
							</div>
							<div class="passwordBlock">
								
								<span class="help-block" id="pass-check">&nbsp;</span>
							</div>
						</fieldset>
						<label for="terms" class="pure-checkbox">
							<input id="terms" name="terms" type="checkbox" required> I've <a href="#" data-toggle="modal" data-target="#termsModal">read</a> the terms and conditions
						</label>
						<button id="sign-up-submit" type="submit" class="pure-button pure-button-primary">Sign Up</button>
					</form>
				</div>
				<div class="l-box-lrg pure-u-1 pure-u-md-2-5 pure-u-lg-1-3">
					<h4>Contact Us</h4>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
					</p>
					<h4>More Information</h4>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</div>
		<div class="footer l-box is-center">
			All rights reserved, Pass Ninja LLC 2014
		</div>
	</div>
	<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<legend>Terms &amp; Conditions</legend>
				</div>
				<div class="modal-body">
					<div class="pure-g">
						
						<div class="pure-u-1-24">
						</div>
						<div class="l-box pure-u-11-12">
							
							
							<form class="pure-form">
								<textarea id="terms" autofocus readonly></textarea>								
							</form>
							
						</div>
						<div class="pure-u-1-24">	
						</div>
					</div>
				</div>
			
			<div class="modal-footer">
				<button id="term-print-btn" class="pure-button">Print</button>
				<button id="term-disagree-btn" class="pure-button" data-dismiss="modal">Disagree</button>
				<button id="term-agree-btn" class="pure-button pure-button-primary">Agree</button>
			</div>
			</div>
		</div>
	</div>
	{{end}}