/*********************************************
	General Splash Image styles

**********************************************/

.splash-container {
    background: url('/assets/img/bgmain.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background: transparent url('/assets/img/bgmain.svg') 0 0 no-repeat fixed; */
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 40%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the ninja red tools image section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: rgba(0,0,0,0.25);
    /*border: 3px solid white;*/
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the ninja red tools image section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

 /*********************************************
	This represents the content area
	(everything below the splash section)

**********************************************/

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

/********************************************
 Pricing Tables

 ********************************************/

.pricing-tables {
margin-bottom: 3.125em;
text-align: center;
border: 1px solid #ddd;
margin: 0 0.5em 2em;
padding: 0 0 3em;
}
.pricing-table-free .pricing-table-header {
background: #519251;
}
.pricing-table-header {
background: #111;
color: #fff;
}
.pricing-table-list {
list-style-type: none;
margin: 0;
padding: 0;
text-align: center;
}

/********************************************
	Input field Addons

*********************************************/
.input-group {
  display: flex;

}

.input-group-field {
  flex: 1;
  border-right: 0;
}

.input-group-addon  {
  background-color: hsla(31, 15%, 50%, 0.1);
  color: hsl(0, 0%, 40%);
  font: inherit;
  font-weight: normal;


}

.input-group-field, .input-group-addon {
  border: 1px solid hsla(31, 15%, 50%, 0.25);
  padding: 0.5em 0.75em;


}

/********************************************
	Input Help Block Text

**********************************************/

.help-block {
	font-family: 'Roboto','Helvetica Neue', sans-serif;
	font-size: 0.9em;

}

.has-error {
	color: red;
}

.has-success {
	color: green;
}

.has-warning {
	color: orange;
}

/********************************************
  Login Modal Dialog

**********************************************/
dialog#login-modal {
  height:205px;
  width:300px;
}

dialog#login-modal h1{
  float: left;
  margin-top: 0;
  margin-bottom: 1em;
}

i#login-spin{
  display:none;
}

.btn-social{
  position:relative;
  padding-left:44px;
  text-align:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  margin-bottom: 10px;
  }
.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}
.btn-social.btn-lg :first-child{line-height:38px;width:45px;font-size:1.8em}

.btn-google-plus{
  width: inherit;
  color:#fff;
  background-color:#dd4b39;
  border-color:rgba(0,0,0,0.2)
  }
.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open>.dropdown-toggle.btn-google-plus{
  color:#fff;
  background-color:#c23321;
  border-color:rgba(0,0,0,0.2)
  }
.btn-google-plus:active,.btn-google-plus.active,.open>.dropdown-toggle.btn-google-plus{
  background-image:none
  }

.btn-facebook{
  width: inherit;
  color:#fff;
  background-color:#3b5998;
  border-color:rgba(0,0,0,0.2)
  }
.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{
  color:#fff;
  background-color:#2d4373;
  border-color:rgba(0,0,0,0.2)
  }
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{
  background-image:none;
  }

.btn-linkedin{
  width: inherit;
  color:#fff;
  background-color:#007bb6;
  border-color:rgba(0,0,0,0.2)
  }
.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{
  color:#fff;
  background-color:#005983;
  border-color:rgba(0,0,0,0.2)
  }
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{
  background-image:none
  }




/********************************************
	Terms and Conditions Popover Styles

**********************************************/
textarea#terms {
    width: 18em;
    height: 20em;
}


/***********************************************************
   medium & larger screens

***********************************************************/
@media (min-width: 48em) {

	textarea#terms {
	    width: 33em;
	    height: 20em;
	}

}
